# Java
**/target/
*.class
*.jar
*.war
*.ear

# Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.utils_backup
pom.xml.v
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Node
**/node_modules/
**/dist/
.npm
.eslintcache

# IDE
.idea/
*.iml
.vscode/
.DS_Store

# Logs
*.log
logs/

# Secrets & Config
.env
.env.local
**/uploads/
**/download/
